@using PresentationLayer.Models
@model CleaningSpaceEditModel

<div class="text-center w-50 mx-auto py-5">
	<h1>Редактирование места уборки</h1>
	<form asp-action="SaveCleaningSpace" asp-controller="CleaningSpace" method="post">
		<div asp-validation-summary="ModelOnly"></div>
		<input name="Id" type="hidden" value="@Model.Id" />
		<div>
			<label asp-for="Name"></label><br />
			<input asp-for="Name" value=@Model.Name class="form-control" />
			<span asp-validation-for="Name"></span>
		</div>
		<div>
			<label asp-for="Description"></label><br />
			<textarea class="form-control" asp-for="Description" rows="5">@Model.Description</textarea> 
			<span asp-validation-for="Description"></span>
		</div>
		
		<input name="RoomId" type="hidden" value="@Model.RoomId" /> <br>
	
		<button type="submit" class = "btn btn-primary">Сохранить</button>
	</form>
</div>
