@using PresentationLayer.Models;
@model RoomEditModel


<div class="form signin w-50 m-auto text-center py-5">
	<form asp-action="SaveRoom" asp-controller="Room" method="post">

		@if (Model.Id == 0)
		{
			<h1>Создать комнату</h1>
		}
		else
		{
			<h1>Редактировать информацию о комнате</h1>
		}
		
		<input name="Id" type="hidden" value="@Model.Id"/>
		<input asp-for="RoomAdminId" type="hidden" value="@Model.RoomAdminId" />
		<div>
			<label asp-for="Name"></label>
			<input name="Name" value="@Model.Name" class="form-control"/> <br />
		</div>
		
		<input asp-for="CreatorId" type="hidden" value=@Model.CreatorId />
		
		<button type="submit" class="btn btn-primary">Сохранить</button>
	</form>
</div>



